body {
  font-family: Roboto, Helvetica, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  padding: 0 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 25px;
  font-weight: bold;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 0;
}

.hero-box {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  gap: 50px;
  justify-content: center;
}

.hero-box-left-side {
  max-width: 400px;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #6d747d;
  color: #e5e7eb;
  width: 400px;
  height: 200px;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  padding: 4px 20px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card-combinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100px;
}

.card {
  width: 96px;
  height: 96px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.card-subtext {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.test {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.quote-text {
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
  display: flex;
  align-self: center;
}

.quote-author {
  font-weight: bold;
  align-self: flex-end;
}

.action {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
  padding: 50px;
  border-radius: 4px;
}

.action-left-side {
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
}

.action-header {
  font-weight: bold;
}

.sign-up-button {
  border: 2px solid #e5e7eb;
}